.country-page {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.country-list {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-flow: wrap;
}

.nav-buttons {
    display: flex;
    width: 12%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    align-self: center;
    justify-content: space-between;
    line-height: 2rem;
}

.nav-buttons button {
    font-size: 1rem;
}